<h3><strong><%= @project.name %></strong></h3>
<p><%= @project.description %></p>
<div class='row'>
	<%= link_to('Add New Task', new_task_path(project_id: @project.id), class: 'pull-right btn btn-default', remote: true , 'data-toggle' =>  "modal", 'data-target' => '#modal-window') %>
</div>
<div class='row'>
	<div class='col-md-6' id= 'task_list'>
		<table class='table table-bordered'>
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Priority</th>
					<th>Deadline</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% @tasks.each do |task| %>
					<tr>
						<td><%= @task.name %></td>
						<td><%= @task.description %></td>
						<td><%= @task.priority %></td>
						<td><%= @task.deadline %></td>
						<td><%= @task.status %></td>
						<td></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>